$main-color: #FF9F29;
$accent-color: #FAF3E3;
$button-color: #F0F3F8;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

aside {
    height: 100%;
    // position:absolute;
    // width: 0;
    // padding-left: 0;
    
    overflow-x: hidden;
    width: 20vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: 1s;
    padding: 1rem;

    button {
        border-radius: 50%;
        padding: 1rem;
        font-size: 1rem;
        border: none;
        background-color: $main-color;
        color: $accent-color;
    }

    form {
        padding-top: 2rem;
        white-space: nowrap;

        div {
            padding-bottom: 1rem;

            label {
                font-size: 1.5rem;
            }

            label:not(:last-child) {
                display: block;
            }

            input[type=text] {
                width: 100%;
                font-size: 1.5rem;
                border: 0;
                border-radius: 10px;
                background-color: $button-color;
            }
        }

        div:last-child {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        div:nth-last-child(2) {
            padding-bottom: 3rem;
        }
    }
}

main {
    height: 100%;
    filter: blur(0.2rem);
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
        .card {
            border: 1px solid black;
        }
    }
}