* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

aside {
    height: 100%;
    // position:absolute;
    // width: 0;
    width: 20vw;
    overflow-x: hidden;
    border: 1px solid black;
    transition: 1s;

    form {
        div {
            label {
                display:  block;
            }
        }
    }
}

main {
    display: none;
    height: 100%;
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
        .card {
            border: 1px solid black;
        }
    }
}