@font-face {
    font-family: gilroy-light;
    src: url("../assets/fonts/Gilroy-Light.otf");
}
@font-face {
    font-family: gilroy-extrabold;
    src: url("../assets/fonts/Gilroy-ExtraBold.otf");
}

$main-color: #3584E4;
$accent-color: #DFF6FF;
$button-color: #F0F3F8;
$default-button-color: #e7e7e7;
$side-text-color: #8b8b8b;

* {
    margin: 0;
    padding: 0;
    font-family: gilroy-light;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

aside {
    height: 100%;
    position: absolute;
    width: 0;
    padding: 0;
    background-color: white;
    z-index: 1;

    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: 1s;
    white-space: nowrap;

    .exit {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        font-size: 1.2rem;
        border: none;
        background-color: $accent-color;
        color: $side-text-color;
    }

    form {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;

        div {
            padding-bottom: 1rem;

            label {
                font-size: 1.5rem;
                color: $side-text-color;
            }

            label:not(:last-child) {
                display: block;
            }

            input[type=text] {
                width: 100%;
                font-size: 1.5rem;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 4px solid $default-button-color;

                &:focus {
                    outline: none;
                    transition: 0.5s;
                    background-color: $default-button-color;
                    border-radius: 5px;
                }
            }

            input[type=checkbox] {
                height: 22px;
                width: 22px;
            }
        }

        div:last-child {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        div:nth-last-child(2) {
            padding-bottom: 3rem;
        }

        button[type=submit] {
            font-size: 1.3rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: none;
            color: $accent-color;
            background-color: $main-color;

        }
    }
}

main {
    height: 100%;
    width: 100%;
    padding: 2rem;

    .top {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 2rem;


        button {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            color: $accent-color;
            background-color: $main-color;
            font-size: 1.5rem;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;

        .card {
            padding: 1rem;
            border-radius: 5px;
            border-left: 8px solid $main-color;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .icons {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                input[type=checkbox] {
                    width: 20px;
                    height: 20px;
                }
            }

            .text {
                padding-bottom: 1rem;
                :first-child {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
            
        }
    }
}